<?xml version="1.0"?>

<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- <arg name="world_name" value="$(find serving_robot_v6)/world/maze.world"/> -->
        <arg name="world_name" value="$(find marvel_v1)/world/golf_indoor2.world"/>
    </include>

    <include file="$(find marvel_v1)/description/launch/display.launch"/>    

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find marvel_v1)/rviz/mapping_2.rviz"/>

    <node name="xacro_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model marvel_v1 -param robot_description -x 3.0 -y 31.0 -z 0.03 -R 0.0 -P 0.0 -Y 3.1416"/>
    
</launch>